{% extends 'administracion/base_administracion.html' %}
{% block title %}{{title}}{% endblock title %}

{% block contenido %}
<br><br><br>
<h1 class="mt-4">Lista de usuarios</h1>
<div class="card">
{% include 'administracion/tipo_de_actividad/buscar.html' %}
</div>
<br>
{% if object_list %}

<div class="card">
    <div class="card-header">
        <div class="card-title">Usuarios</div>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in object_list %}
                <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.username}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellido}}</td>
                    <td>{{usuario.documento}}</td>
                    <td>{{usuario.email}}</td>
                    <td>
                        <a href="{% url 'editar_usuario' usuario.id %}" title="Editar" class="btn btn-warning">Editar<i class="fas fa-trash"></i></a>
                        <a href="{% url 'eliminar_usuario' usuario.id %}" title="Eliminar" class="btn btn-danger">Eliminar<i class="fas fa-trash"></i></a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h1> No existen usuarios registrados</h1>
{% endif %}

{% endblock contenido %}