{% extends '../base_administracion.html' %}

{% block titulo %}Tipos de actividad{% endblock%}

{% block contenido %}
<br><br><br>
<h1 class="mt-4">Tipos de actividad</h1>

{% include './buscar.html' %}

<br>
<div class="card">
    <div class="card-body">
        <a name="" id="" class="btn btn-success" href="{% url 'tipo_de_actividad_nuevo_view' %}" role="button"> <i class="fa-solid fa-circle-plus"></i>Nuevo</a>
        <!-- bs5-table-defaul -->
        <table class="table">
         <!-- class="table"> -->
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tipo_de_actividad in qs_tipos_de_actividad %}
                    <tr>
                        <td>{{tipo_de_actividad.id}}</td>
                        <td>{{tipo_de_actividad.nombre}}</td>
                        <td>
                            <a href="{% url 'tipo_de_actividad_editar_view' tipo_de_actividad.id %}" title="Editar" class="btn btn-warning">Editar<i class="fas fa-pencil"></i></a>
                            <a href="{% url 'tipo_de_actividad_eliminar_view' tipo_de_actividad.id %}" title="Eliminar" class="btn btn-danger">Eliminar<i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
      
    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>

{% endblock %}