{% extends './base.html' %}
{% block title %}{{title}}{% endblock title %}
{% load static %}

{% block headStyles %}
<!-- Si no se usan las tarjetas y los circulos para imagenes eliminar los estilos -->
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
{% endblock headStyles %}

{% block headStaticContent %}
    {% load static %}
    <!-- <link href="{% static '/gym/css/home.css' %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static '/gym/css/home.css' %}"/>
{% endblock headStaticContent %}

{% load static %}
    <!-- <link href="{% static '/gym/css/home.css' %}" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static '/gym/css/home.css' %}"/>

<!-- BODY -->
{% block headerContent %}
    {% include './header.html' %}
{% endblock headerContent %}

{% block contenido %}
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
    <!-- START THE FEATURETTES -->
    
    <!-- <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
        <p><a class="btn btn-lg btn-outline-primary" href="{% url 'contacto' %}">Conocer más</a></p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'img/chica-nadando-500x500px-300ppi.jpg'%}" class="bd-placeholder-img bd-placeholder-img-lg img-fluid float-start mx-auto" width="500" height="500"  alt="...">
      </div>
    </div> -->
 <!--
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">


    <hr class="featurette-divider"> -->

    <!-- /END THE FEATURETTES -->

</div><!-- /.container .marketing -->
<!-- <script src={% static '/gym/js/jsactividades.js' %}></script> -->
<script src="{% static '/gym/js/actividades.js' %}"></script>
<!-- <script src={% static '/gym/js/pepe.js' %}></script> -->
{% endblock contenido %}


{% block footerContent %}
    {% include './footer.html' %}
{% endblock footerContent %}