{% load static %}

<!-- Modal -->
<div class="modal-dialog modal-dialog-centered">
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Sumate!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12 ">
          <form class="row g-3 needs-validation" id="singup" novalidate>
              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="validationCustom01"  required>
                <div class="valid-feedback">
                  Correcto!
                </div>
              </div>
              <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="validationCustom02"  required>
                <div class="valid-feedback">
                  Correcto!
                </div>
              </div>
              <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">Usuario</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend">@</span>
                  <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                  <div class="invalid-feedback">
                    Por favor, elija un nombre de usuario
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="validationCustom03" class="form-label">DNI</label>
                <input type="number" class="form-control" id="validationCustom03" maxlength="8" required>
                <div class="invalid-feedback">
                  Por favor, escriba un número de DNI válido
                </div>
              </div>
              <div class="col-md-3">
                <label for="validationCustom04" class="form-label">Sexo</label>
                <select class="form-select" id="validationCustom04" required>
                  <option selected disabled value="">Elija una Opción</option>
                  <option>Masculino</option>
                  <option>Femenino</option>
                  <option>Otro</option>
                </select>
                <div class="invalid-feedback">
                  Debe seleccionar una opción para continuar
                </div>
              
              </div>
              <div class="col-md-3">
                <label for="validationCustom05" class="form-label">Teléfono</label>
                <input type="number" class="form-control" id="validationCustom05" required>
                <div class="invalid-feedback">
                  Por favor, ingrese un numero de teléfono válido
                </div>
              </div>
              <div class="col-md-12">
                <label for="validationCustom02" class="form-label">Email</label>
                <input type="Email" class="form-control" id="validationCustom02" value="Perez" required>
                <div class="valid-feedback">
                  Correcto!
                </div>
              </div>
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                  <label class="form-check-label" for="invalidCheck">
                    Acepto los términos y condiciones
                  </label>
                  <div class="invalid-feedback">
                    Debe aceptar las condiciones para registrarse
                  </div>
                </div>
              </div>
            
            </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" form="singup" class="btn btn-danger">Registrarse</button>
      </div>
    </div>
  </div>
</div>
</div>


<script src={% static 'gym/js/sing_up.js' %}></script>






